@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CSS Reset */

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Variables */

:root {
    --clr-white: #ffffff;
    --clr-orange: #fb7413;
    --clr-light-grey: #959eac;
    --clr-medium-grey: #2e3a44;
    --clr-dark-blue: #252d37;
    --clr-blue-gradient: #1b222b;
    --clr-very-dark-blue: #121417;
    --clr-text-shadow: #00000026;
    --clr-font-primary: 'Overpass', sans-serif;
}

/* General Config. */

html,
body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    list-style-type: none;
    font-family: var(--clr-font-primary);
}

/* Container */

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-very-dark-blue);
}

/* Card */

.card {
    max-width: 420px;
    height: 420px;
    padding: 15px 35px;
    background-image: linear-gradient(to bottom left, var(--clr-dark-blue), var(--clr-blue-gradient));
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Card Icon */

.card__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--clr-medium-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__icon--img {
    width: 18px;
    height: 18px;
}

/* Card Content */

.card__top {
    display: flex;
    flex-direction: column;
}

.card__top--title {
    text-shadow: .5px .5px 5px var(--clr-text-shadow);
    color: var(--clr-white);
    margin: 0 0 .6em 0;
    font-size: 1.8em;
}

.card__top--text {
    color: var(--clr-light-grey);
    text-shadow: .5px .5px 5px var(--clr-text-shadow);
}

/* Card Bottom Part */

.card__bottom {
    width: 350px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__bottom--choice {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.card__bottom--numbers {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    font: 600 1em var(--clr-font-primary);
    color: var(--clr-light-grey);
    background: var(--clr-medium-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__bottom--submit {
    width: 345px;
    height: 45px;
    border: none;
    background: var(--clr-orange);
    border-radius: 40px;
    font: 500 1.4em var(--clr-font-primary);
    font-variant: small-caps;
    letter-spacing: 2px;
    color: var(--clr-white);
    text-shadow: .5px .5px 5px var(--clr-text-shadow);
}