@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;700;800&display=swap');

/* Methodology used to build this document - getbem.com */

/* Variables */

:root {
--light-red: #ff5757;
--orangey-yellow: #ffb01f;
--green-teal: #00bd91;
--cobalt-blue: #1125d4;
--slate-blue: #7857ff; /*background */
--royal-blue: #2e2be9; /*background */
--violet-blue: #4e21ca00; /*circle */
--persian-blue: #2421ca52; /*circle */
--white: #ffffff;
--pale-blue: #ebf1ff;
--light-lavender: #c8c7ff;
--gray-blue: #303b5a;
--font-primary: 'Hanken Grotesk', sans-serif;
}

/* General Config. */

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-primary);
}

/* Main Block */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__block {
    max-width: 430px;
    min-height: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.200);
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* Left Card */

.result {
    width: 215px;
    height: 300px;
    padding: 25px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, var(--slate-blue), var(--royal-blue));
    text-align: center;
    color: white;
}

.result__title {
    font-weight: 500;
    font-size: .9em;
    color: var(--light-lavender);
}

.result__circle {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, var(--royal-blue), var(--violet-blue));
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 20px auto 10px;
}

.result__score {
    height: 50px;
    font-size: 2.6em;
}

.result__total {
    font-size: .6em;
    font-weight: 700;
    color: #896cfd;
}

.result__congrats {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 500;
}

.result__text {
    width: 160px;
    font-size: .7em;
    font-weight: 300;
    color: var(--light-lavender);
}

/* Right Card */

.summary {
    width: 215px;
    height: 300px;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
}

.summary__title {
    font-size: .9em;
    font-weight: 700;
    text-align: left;
    color: var(--gray-blue);
}

.stats {
    width: 170px;
    height: 160px;
    background-color: white;
    margin-top: 20px;
    display: flex;
    flex-flow: column;
}

.stats__block {
    width: 165px;
    height: 35px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.stats__icon {
    width: 12px;
}

.stats__label {
    position: relative;
    left: -15px;
    font-size: .7em;
    font-weight: 700;
}

.stats__num {
    font-size: .7em;
    font-weight: 700;
    color: var(--gray-blue);
}

.stats__num--total {
    color: #303b5aad;
}

.stats__block--red {
    background-color: rgba(255, 87, 87, 0.075);
    color: var(--light-red);
}

.stats__block--yellow {
    background-color: rgba(255, 177, 31, 0.075);
    color: var(--orangey-yellow);
}

.stats__block--green {
    background-color: rgba(0, 189, 145, 0.075);
    color: var(--green-teal);
}

.stats__block--blue {
    background-color: rgba(17, 36, 212, 0.075);
    color: var(--cobalt-blue);
}

.summary__button {
    width: 165px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--gray-blue);
    margin-top: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.150);
    font-size: .65em;
    font-weight: 700;
    color: var(--pale-blue);
    cursor: pointer;
}

.summary__button:hover {
    background-image: linear-gradient(to bottom, var(--slate-blue), var(--royal-blue)) ;
}